<% content_for :head do %>
  <h1>All barrier statuses since <%= @oldest_status.date.strftime("%m/%Y") %> <small><%= link_to('back', root_path) %></small></h1>
<% end %>

<section class="north">
  <h2>North</h2>
  <ul class="clearfix">
    <li class="status no"><em>No</em><span><%= number_to_percentage(@statuses_north['no_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
    <li class="status yes"><em>Yes</em><span><%= number_to_percentage(@statuses_north['yes_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
  </ul>
  <hr/>
  <ol class="clearfix">
    <% @statuses_north['statuses'].each do |s| %>
      <li><em class="status <%= status_class(s) %>"><%= status_class(s).capitalize %></em><span class="date"><%= s.date.strftime("%d/%m/%Y") %></span><span class="time"><%= s.time.strftime("%I:%M%p").downcase! %></span></li>
    <% end %>
  </ol>
</section>

<section class="south">
  <h2>South</h2>
  <ul class="clearfix">
    <li class="status no"><em>No</em><span><%= number_to_percentage(@statuses_south['no_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
    <li class="status yes"><em>Yes</em><span><%= number_to_percentage(@statuses_south['yes_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
  </ul>
  <hr/>
  <ol class="clearfix">
    <% @statuses_south['statuses'].each do |s| %>
      <li><em class="status <%= status_class(s) %>"><%= status_class(s).capitalize %></em><span class="date"><%= s.date.strftime("%d/%m/%Y") %></span><span class="time"><%= s.time.strftime("%I:%M%p").downcase! %></span></li>
    <% end %>
  </ol>
</section>