<h2>All barrier statuses since <%= @oldest_status.date.strftime("%m/%Y") %></h2>

<% %w{north south}.each do |loc| %>  
<section class="<%= loc %>">
  <h2><%= loc.capitalize %></h2>
  <%= render :partial => 'shared/percentages', :locals => { :no_percent => @statuses[loc.to_sym][:no_percent], :yes_percent => @statuses[loc.to_sym][:yes_percent] } %>
  <hr/>
  <%= render :partial => 'shared/statuses_list', :locals => { :statuses => @statuses, :loc => loc } %>
</section>
<% end %>