<h2>Barrier statuses for <%= @date.strftime("%d/%m/%Y") %></h2>

<% %w{north south}.each do |loc| %>  
<section class="<%= loc %> onday">
  <h2><%= loc.capitalize %></h2>
  <% if !@statuses[loc].empty? %>
    <% @statuses[loc].each do |status| %>
      <%= render :partial => 'shared/single_status', :locals => { :s => status } %>
    <% end %>
  <% else %>
    <%= render :partial => 'shared/maybe' %>
  <% end %>
</section>
<% end %>
