<ol class="clearfix">
<% statuses[loc.to_sym][:statuses].each do |s| %>
  <li><a href="<%= statuses_url_for_day(s) %>"><em class="status <%= status_class(s) %>"><%= status_class(s).capitalize %></em><span class="date"><%= s.date.strftime("%d/%m/%Y") %></span><span class="time"><%= s.time.strftime("%I:%M%p").downcase! %></span></a></li>
<% end %>
</ol>