<% if @today_status_north %>
<h3>updated at <%= @today_status_north.time.strftime("%I:%M%p").downcase! %></h3>
<% end %>
<section class="north">
  <h2>North</h2>
  <% if @today_status_north %>
    <em class="status main_status <%= status_class(@today_status_north) %>"><%= status_class(@today_status_north).capitalize %></em>
    <% if !@today_status_north.comments.blank? %>
      <span class="comments"><%= @today_status_north.comments %></span>
    <% end %>
  <% else %>
    <em class="status main_status maybe">Maybe</em>
  <% end %>
</section>

<section class="south">
  <h2>South</h2>
  <% if @today_status_south %>
    <em class="status main_status <%= status_class(@today_status_south) %>"><%= status_class(@today_status_south).capitalize %></em>
    <% if !@today_status_south.comments.blank? %>
      <span class="comments"><%= @today_status_south.comments %></span>
    <% end %>
  <% else %>
    <em class="status main_status maybe">Maybe</em>
  <% end %>
</section>

<h1>Previous days</h1>
<section class="north">
  <h2>North</h2>
  <ol class="clearfix">
    <% @statuses_north['statuses'].each do |s| %>
      <li><em class="status <%= status_class(s) %>"><%= status_class(s).capitalize %></em><span class="date"><%= s.date.strftime("%d/%m/%Y") %></span><span class="time"><%= s.time.strftime("%I:%M%p").downcase! %></span></li>
    <% end %>
  </ol>
</section>

<section class="south">
  <h2>South</h2>
  <ol class="clearfix">
    <% @statuses_south['statuses'].each do |s| %>
      <li><em class="status <%= status_class(s) %>"><%= status_class(s).capitalize %></em><span class="date"><%= s.date.strftime("%d/%m/%Y") %></span><span class="time"><%= s.time.strftime("%I:%M%p").downcase! %></span></li>
    <% end %>
  </ol>
</section>

<h1>Since records began <small>(<%= @oldest_status.date.strftime("%m/%Y") %>)</small> <small><%= link_to('view all', statuses_path) %></small></h1>
<section class="north">
  <h2>North</h2>
  <ul class="clearfix">
    <li class="status no"><em>No</em><span><%= number_to_percentage(@statuses_north['no_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
    <li class="status yes"><em>Yes</em><span><%= number_to_percentage(@statuses_north['yes_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
  </ul>
</section>

<section class="south">
  <h2>South</h2>
  <ul class="clearfix">
    <li class="status no"><em>No</em><span><%= number_to_percentage(@statuses_south['no_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
    <li class="status yes"><em>Yes</em><span><%= number_to_percentage(@statuses_south['yes_percent'], :precision => 2, :strip_insignificant_zeros => true) %></span></li>
  </ul>
</section>