<% if @statuses[:north][:today] %>
<h3>updated at <%= @statuses[:north][:today].time.strftime("%I:%M%p").downcase! %></h3>
<% end %>

<% %w{north south}.each do |loc| %>
<section class="north onday">
  <h2><%= loc.capitalize %></h2>
  <% if @statuses[loc.to_sym][:today] %>
    <%= render :partial => 'shared/single_status', :locals => { :s => @statuses[loc.to_sym][:today] } %>
  <% else %>
    <%= render :partial => 'shared/maybe' %>
  <% end %>
</section>
<% end %>


<h1>Previous days</h1>
<% %w{north south}.each do |loc| %>
<section class="<%= loc %>">
  <h2><%= loc.capitalize %></h2>
  <%= render :partial => 'shared/statuses_list', :locals => { :statuses => @statuses, :loc => loc } %>
</section>
<% end %>


<h1>Since records began <small>(<%= @oldest_status.date.strftime("%m/%Y") %>)</small> <small><%= link_to('view all', statuses_path) %></small></h1>

<% %w{north south}.each do |loc| %>
<section class="north">
  <h2><%= loc.capitalize %></h2>
  <%= render :partial => 'shared/percentages', :locals => { :no_percent => @statuses[loc.to_sym][:no_percent], :yes_percent => @statuses[loc.to_sym][:yes_percent] } %>
</section>
<% end %>