<h1>Listing statuses</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Status</th>
    <th>Date</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Comments</th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.location %></td>
    <td><%= status.status %></td>
    <td><%= status.date %></td>
    <td><%= status.time %></td>
    <td><%= link_to 'Show', admin_status_path(status) %></td>
    <td><%= link_to 'Edit', edit_admin_status_path(status) %></td>
    <td><%= button_to 'Destroy', admin_status_path(status), confirm: 'Are you sure?', method: :delete %></td>
    <td><%= status.comments %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status', new_admin_status_path %>
