<section class="onday">
  <%= link_to 'Edit', edit_admin_status_path(@status) %> | <%= link_to 'Back', admin_statuses_path %>
  <h2><%= @status.location.capitalize %></h2>
  <p id="notice"><%= notice %></p>
  <%= render :partial => 'shared/single_status', :locals => { :s => @status } %>
</section>